---------------------------------------------------------------------------------------------------
--Drops
---------------------------------------------------------------------------------------------------
IF EXISTS (SELECT 1 FROM sysobjects WHERE name = 'GetLocation'             AND type = 'P') DROP PROCEDURE Geographic.GetLocation
IF EXISTS (SELECT 1 FROM sysobjects WHERE name = 'GetCoverage'             AND type = 'P') DROP PROCEDURE Geographic.GetCoverage
IF EXISTS (SELECT 1 FROM sysobjects WHERE name = 'GetMatches'              AND type = 'P') DROP PROCEDURE Geographic.GetMatches

IF EXISTS (SELECT 1 FROM sysobjects WHERE name = 'ListCountries'           AND type = 'P') DROP PROCEDURE Geographic.ListCountries
IF EXISTS (SELECT 1 FROM sysobjects WHERE name = 'ListStates'              AND type = 'P') DROP PROCEDURE Geographic.ListStates
IF EXISTS (SELECT 1 FROM sysobjects WHERE name = 'ListCounties'            AND type = 'P') DROP PROCEDURE Geographic.ListCounties
go

---------------------------------------------------------------------------------------------------
--Old Procs
---------------------------------------------------------------------------------------------------
IF EXISTS (SELECT 1 FROM sysobjects WHERE name = 'MatchBorders'           AND type = 'P') DROP PROCEDURE Geographic.MatchBorders
IF EXISTS (SELECT 1 FROM sysobjects WHERE name = 'GetCountry'             AND type = 'P') DROP PROCEDURE Geographic.GetCountry
IF EXISTS (SELECT 1 FROM sysobjects WHERE name = 'GetCountries'           AND type = 'P') DROP PROCEDURE Geographic.GetCountries
IF EXISTS (SELECT 1 FROM sysobjects WHERE name = 'GetStates'              AND type = 'P') DROP PROCEDURE Geographic.GetStates
IF EXISTS (SELECT 1 FROM sysobjects WHERE name = 'GetCounties'            AND type = 'P') DROP PROCEDURE Geographic.GetCounties
IF EXISTS (SELECT * FROM sysobjects WHERE name = 'GetCurrentLocation'     AND type = 'P') DROP PROCEDURE Geographic.GetCurrentLocation
go
 
 
---------------------------------------------------------------------------------------------------
-- Geographic.GetMatches 'the fco advise against all travel to the surobi, paghman, musayhi, khake jabbar and chahar asyab districts of kabul province and the pakistani border', 'AF' 
---------------------------------------------------------------------------------------------------
CREATE PROCEDURE [Geographic].[GetMatches]
(
  @Text             varchar(max),          
  @CountryHint      varchar(255) 
)       
AS

DECLARE @CountryID       integer
DECLARE @SimpleText      varchar(max)

DECLARE @Words           TABLE (Word varchar(255), WordCode bigint)
DECLARE @PlaceMatches    TABLE (PlaceID integer,     PlaceMatchName varchar(255))

SET @CountryID = dbo.StringToInteger(@countryHint)

IF @CountryID = 0 BEGIN 

  SELECT 
    @CountryID = CountryID 
  FROM 
    Geographic.Country 
  WHERE 
    CountryName = @countryHint OR 
    ISO3Code    = @countryHint OR 
    ISO2Code    = @countryHint  

END 

SET @SimpleText = ' ' + dbo.TextToSimpleString(@Text, 1) + ' '

INSERT INTO @Words(Word)
  SELECT DISTINCT item
  FROM   dbo.ListToTable(@SimpleText, ' ')
  WHERE  item NOT IN ( 'border','coast','town','city','state','county','eastern','northen','southen','western' )

DELETE FROM @Words WHERE Word IN (Select StopWord FROM Geographic.StopWord)

UPDATE @Words SET WordCode = dbo.TextToBigInteger(Word)

INSERT INTO @PlaceMatches
  SELECT DISTINCT PlaceID, PlaceMatchName
  FROM   Geographic.PlaceName
  WHERE  PlaceWordCode IN (SELECT WordCode FROM @Words)
  AND    CountryID = @CountryID

SELECT DISTINCT ltrim(rtrim(BoundaryMatchName)) 'MatchName', CountryID, StateID, CountyID, DistrictID, CommunityID, WardID, null 'PlaceID', null 'BorderID'
FROM   Geographic.BoundaryName
WHERE  BoundaryWordCode IN (SELECT WordCode FROM @Words)
AND    CountryID = @CountryID
UNION 
SELECT ltrim(rtrim(PlaceMatchName)), B.CountryID, B.StateID, B.CountyID, B.DistrictID, B.CommunityID, B.WardID, P.PlaceID, null 'BorderID'
FROM @PlaceMatches M
INNER JOIN Geographic.Place    P ON P.PlaceID    = M.PlaceID
INNER JOIN Geographic.Boundary B ON B.BoundaryID = P.BoundaryID  
WHERE charindex(PlaceMatchName, @SimpleText) > 0
UNION 
SELECT
    ltrim(rtrim(BorderMatchName)), @CountryID 'CountryID', null 'StateID', null 'CountyID', null 'DistrictID', null 'CommunityID', null 'WardID', null 'PlaceID', BorderID
  FROM
    Geographic.BorderName
  WHERE                                                                                     
    CountryID = @CountryID
  AND
    CHARINDEX(BorderMatchName, @SimpleText) > 0   

RETURN @@ROWCOUNT
go

GRANT EXECUTE ON [Geographic].[GetMatches] TO [risk.service]
GO

---------------------------------------------------------------------------------------------------
-- Geographic.GetLocation 51.093471, 0.00362 
---------------------------------------------------------------------------------------------------
CREATE PROCEDURE [Geographic].[GetLocation]
(
  @Latitude       float,          
  @Longitude      float 
)       
AS

     
DECLARE @Location Geography = geography::Point( @latitude, @longitude , 4326)

DECLARE @PersonID         integer
DECLARE @BoundaryID       integer 
DECLARE @CountryISO3Code  char(3)
DECLARE @CountryID        integer
DECLARE @CountryName      varchar(250)
DECLARE @StateID          integer
DECLARE @StateName        varchar(250)
DECLARE @CountyID         integer
DECLARE @CountyName       varchar(250)
DECLARE @TZID             varchar(250)
DECLARE @TrackingID       integer
DECLARE @CountryEdit      integer
DECLARE @StateEdit        integer
DECLARE @CountyEdit       integer
DECLARE @BoundaryEdit     integer

DECLARE
  @NOW                 datetime      = getutcdate(),
  @countryProfileRefs  varchar(max)  = '',
  @CurrentAlertRefs    varchar(max)  = '',
  @countryRiskStatus   varchar(255),
  @CurrentAlertStatus  varchar(255)


SELECT 
	@BoundaryID      = B.BoundaryID, 
	@CountryISO3Code = C.ISO3Code, 
	@CountryID       = C.CountryID, 
	@CountryName     = C.CountryName, 
	@StateID         = S.StateID,
	@StateName       = S.StateName,
	@CountyID        = O.CountyID,
	@CountyName      = O.CountyName,
	@TZID            = B.TZID,
  @CountryEdit     = C.EditNo,
  @StateEdit       = S.EditNo,
  @CountyEdit      = O.EditNo,
  @BoundaryEdit    = B.EditNo
FROM
	Geographic.Boundary  B
LEFT OUTER JOIN
	Geographic.Country   C ON C.CountryID = B.CountryID
LEFT OUTER JOIN
	Geographic.State     S ON S.CountryID = B.CountryID AND S.StateID   = B.StateID 
LEFT OUTER JOIN
	Geographic.County    O ON O.CountryID = B.CountryID AND O.StateID   = B.StateID AND O.CountyID  = B.CountyID 
WHERE
	BoundaryGeography.STContains(@Location) = 1


SELECT 
  @BoundaryID                                          'locationID',
	@CountryISO3Code                                     'countryIso3Code',
	@CountryName                                         'countryName', 
	@StateName                                           'stateName',
	@CountyName                                          'countyName',
	@TZID                                                'timeZoneName',

	cast(@CountryID   as varchar(25))    +  '.' +
  cast(@CountryEdit as varchar(9))                     'countryRef', 
	
  cast(@CountryID   as varchar(25))    +  ':' +
  cast(@StateID     as varchar(25))    +  '.' +
  cast(@StateEdit   as varchar(9))                     'stateRef',
	
  cast(@CountryID   as varchar(25))    +  ':' +
  cast(@StateID     as varchar(25))    +  ':' +
  cast(@CountyID    as varchar(25))    +  '.' +
  cast(@CountyEdit  as varchar(9))                     'countyRef',
	
  cast(@BoundaryID   as varchar(25))   +  '.' +
  cast(@BoundaryEdit as varchar(9))                    'boundaryRef' 

--      
RETURN @@rowcount
GO

GRANT EXECUTE ON [Geographic].[GetLocation] TO [risk.service]
GO

---------------------------------------------------------------------------------------------------------------------------------------------------
--EXECUTE Geographic.GetCoverage 'there is a problem in a town called autreylesgray', 'FR' 
---------------------------------------------------------------------------------------------------------------------------------------------------
CREATE PROCEDURE [Geographic].[GetCoverage]
(
   @SimpleText         varchar(max),
   @countryHint        varchar(255),
   @ToleranceInMeters  integer       = 1000,
   @CoverageFormat     varchar(20)   = 'GEOGRAPHY', 
   @AbstractToCounty   bit           = 1
)
AS
--DECLARE @Text varchar(max) = 'The area to which the FCO advise against all but essential travel does not include Kenya’s safari destinations in the national parks, reserves and wildlife conservancies; including the Aberdare National Park, Amboseli, Laikipia, Lake Nakuru, Masai Mara, Meru, Mount Kenya, Samburu, Shimba Hills, Tsavo, nor does it include the beach resorts of Mombasa, Malindi, Kilifi, Watamu and Diani' 
--DECLARE @Text varchar(max) = 'There have been a number of attacks in Kenya in recent years, particularly in Mandera County and other areas close to the Somali border'
--DECLARE @Text varchar(max) = 'Mombasa airport (Moi International Airport) and Malindi airport are not included in the area to which the FCO advise against all but essential travel' 
--DECLARE @CountryID          int      = 118
--DECLARE @toleranceInMeters  integer  = 1000

DECLARE @CountryID           integer

SET @CountryID = dbo.StringToInteger(@countryHint)

IF @CountryID = 0 BEGIN 

  SELECT 
    @CountryID = CountryID 
  FROM 
    Geographic.Country 
  WHERE 
    CountryName = @countryHint OR 
    ISO3Code    = @countryHint OR 
    ISO2Code    = @countryHint  

END  

IF @CountryID IS NULL OR datalength(@SimpleText) = 0  BEGIN
   SELECT 
      NULL     'borderReferences', 
      NULL     'placeReferences', 
      NULL     'boundaryReferences', 
      NULL     'textGeography',
      NULL     'countyReferences'
   RETURN 0
END

DECLARE @WORDS          TABLE (Word varchar(255),                WordCode  bigint)

DECLARE @BORDERS        TABLE (BorderSimpleName    varchar(255), BorderID  int   )
DECLARE @PLACES         TABLE (PlaceSimpleName     varchar(255), PlaceID   int   )
DECLARE @BOUNDARIES     TABLE (BoundarySimpleName  varchar(255), CountryID int, StateID int, CountyID int, DistrictID int, CommunityID int, WardID   int   )

DECLARE @COUNTIES       TABLE (CountryID int, StateID int, CountyID int)
DECLARE @AREAS          TABLE (AreaGeography       geography )

DECLARE @BorderReferences    varchar(max)
DECLARE @PlaceReferences     varchar(max)
DECLARE @BoundaryReferences  varchar(max)
DECLARE @CountyReferences    varchar(max)
DECLARE @Coverage            geography

INSERT INTO @WORDS
  SELECT
    item, dbo.TextToBigInteger(item)
  FROM
    dbo.ListToTable(@SimpleText, ' ')
  WHERE
    item NOT IN (SELECT StopWord FROM Geographic.StopWord)

INSERT INTO @BORDERS
  SELECT
    BorderSimpleName, BorderID
  FROM
    Geographic.BorderName
  WHERE
    CountryID = @CountryID
  AND
    BorderWordCode IN (SELECT WordCode FROM @WORDS )
  AND
    CHARINDEX(BorderSimpleName, @SimpleText) > 0     

INSERT INTO @PLACES
  SELECT
    PlaceSimpleName, PlaceID 
  FROM
    Geographic.PlaceName
  WHERE
    CountryID = @CountryID
  AND
    PlaceWordCode IN (SELECT WordCode FROM @WORDS)
  AND
    CHARINDEX(PlaceSimpleName, @SimpleText) > 0
  AND
    NOT EXISTS (SELECT 1 FROM @BORDERS WHERE charindex(PlaceSimpleName, BorderSimpleName) > 0 )
  AND
    PlaceSimpleName NOT IN ( 'border','coast','town','city','state','county','eastern','northen','southen','western' )

INSERT INTO @BOUNDARIES
  SELECT
    BoundarySimpleName, CountryID, StateID, CountyID, DistrictID, CommunityID, WardID
  FROM
    Geographic.BoundaryName
  WHERE
    CountryID = @CountryID
  AND
    StateID IS NOT NULL
  AND
    BoundaryWordCode IN (SELECT WordCode FROM @WORDS)
  AND
    CHARINDEX(BoundarySimpleName, @SimpleText) > 0
  AND
    NOT EXISTS (SELECT 1 FROM @BORDERS WHERE charindex(BoundarySimpleName, BorderSimpleName) > 0 )
  AND
    NOT EXISTS (SELECT 1 FROM @PLACES  WHERE charindex(BoundarySimpleName, PlaceSimpleName ) > 0 )
  AND
    BoundarySimpleName NOT IN ( 'border','coast','town','city','state','county','eastern','northen','southen','western' )


 INSERT INTO @AREAS
  SELECT 
    Border100K 
  FROM 
    Geographic.Border 
  WHERE 
    BorderID IN (SELECT BorderID FROM @BORDERS)

IF @AbstractToCounty = 1 BEGIN

  INSERT INTO @COUNTIES
    SELECT DISTINCT
      B.CountryID, B.StateID, B.CountyID
    FROM
      Geographic.Place P
    LEFT OUTER JOIN
      Geographic.Boundary B ON B.BoundaryID = P.BoundaryID
    WHERE
      P.PlaceID IN (SELECT PlaceID FROM @PLACES)
    UNION SELECT
      B.CountryID, B.StateID, B.CountyID
    FROM
      Geographic.Boundary B
    INNER JOIN
      @BOUNDARIES M                                     
    ON          M.CountryID                   =   B.CountryID     
    AND  ISNULL(M.StateID,B.StateID)          =   B.StateID       
    AND  ISNULL(M.CountyID,B.CountyID)        =   B.CountyID      
    AND  ISNULL(M.DistrictID,B.DistrictID)    =   B.DistrictID    
    AND  ISNULL(M.CommunityID,B.CommunityID)  =   B.CommunityID   
    AND  ISNULL(M.WardID,B.WardID)            =   B.WardID     

  INSERT INTO @AREAS
    SELECT
      C.CountyOutline1K
    FROM
      Geographic.County C
    INNER JOIN
      @COUNTIES  M
      ON          M.CountryID                   =   C.CountryID     
      AND  ISNULL(M.StateID, C.StateID)         =   C.StateID       
      AND  ISNULL(M.CountyID,C.CountyID)        =   C.CountyID  

END ELSE BEGIN

  INSERT INTO @AREAS
    SELECT
      ISNULL(PlaceGeography, BoundaryGeography)
    FROM
      Geographic.Place P
    LEFT OUTER JOIN
      Geographic.Boundary B ON B.BoundaryID = P.BoundaryID
    WHERE
      P.PlaceID IN (SELECT PlaceID FROM @PLACES)

  INSERT INTO @AREAS
    SELECT
      BoundaryGeography
    FROM
      Geographic.Boundary B
    INNER JOIN
      @BOUNDARIES M                                     
    ON          M.CountryID                   =   B.CountryID     
    AND  ISNULL(M.StateID,B.StateID)          =   B.StateID       
    AND  ISNULL(M.CountyID,B.CountyID)        =   B.CountyID      
    AND  ISNULL(M.DistrictID,B.DistrictID)    =   B.DistrictID    
    AND  ISNULL(M.CommunityID,B.CommunityID)  =   B.CommunityID   
    AND  ISNULL(M.WardID,B.WardID)            =   B.WardID     

END

SELECT 
  @Coverage= Geography::UnionAggregate(AreaGeography) 
FROM 
  @AREAS

IF @Coverage IS NOT NULL BEGIN

  SET @Coverage = @Coverage.Reduce(@toleranceInMeters) 
  SET @Coverage = dbo.RemoveArtefacts(@Coverage) 

END

SELECT @BorderReferences   =  COALESCE(@BorderReferences   + ', ', '') + BorderSimpleName   + ':' + CAST(BorderID AS varchar(20)) FROM @BORDERS
SELECT @PlaceReferences    =  COALESCE(@PlaceReferences    + ', ', '') + PlaceSimpleName    + ':' + CAST(PlaceID  AS varchar(20)) FROM @PLACES
SELECT @BoundaryReferences =  COALESCE(@BoundaryReferences + ', ', '') + BoundarySimpleName + ':' + ISNULL(CAST(CountryID AS varchar(20)),'NULL') + ':' + ISNULL(CAST(StateID AS varchar(20)),'NULL') + ':' + ISNULL(CAST(CountyID AS varchar(20)),'NULL') + ':' + ISNULL(CAST(DistrictID AS varchar(20)),'NULL') + ':' + ISNULL(CAST(CommunityID AS varchar(20)),'NULL') + ':' + ISNULL(CAST(WardID AS varchar(20)),'NULL')   FROM @BOUNDARIES

SELECT @CountyReferences   =  COALESCE(@CountyReferences   + ', ', '') + CAST(CountryID as varchar(10)) + '.' + CAST(StateID as varchar(10)) + '.' + CAST(CountyID as varchar(10))  FROM @Counties

IF UPPER(@coverageFormat) = 'NOCOVERAGE' BEGIN

  SELECT 
    @BorderReferences            'borderReferences', 
    @PlaceReferences             'placeReferences', 
    @BoundaryReferences          'boundaryReferences',
    NULL                         'textGeography',
    @CountyReferences            'countyReferences' 

END ELSE IF UPPER(@coverageFormat) = 'GEOJSON' BEGIN

  SELECT 
    @BorderReferences            'borderReferences', 
    @PlaceReferences             'placeReferences', 
    @BoundaryReferences          'boundaryReferences', 
    dbo.CastAsGeoJSON(@Coverage) 'textGeography',
    @CountyReferences            'countyReferences'

END ELSE IF UPPER(@coverageFormat) = 'GOOGLEARRAY' BEGIN

  SELECT 
    @BorderReferences                  'borderReferences', 
    @PlaceReferences                   'placeReferences', 
    @BoundaryReferences                'boundaryReferences', 
    dbo.CastAsGoogleArray(@Coverage)   'textGeography',
    @CountyReferences                  'countyReferences'

END ELSE IF UPPER(@coverageFormat) = 'SVG' BEGIN

  SELECT 
    @BorderReferences                  'borderReferences', 
    @PlaceReferences                   'placeReferences', 
    @BoundaryReferences                'boundaryReferences', 
    CAST(@Coverage as varchar(max))    'textGeography',
    @CountyReferences                  'countyReferences'

END ELSE BEGIN
                 
  SELECT 
    @BorderReferences    'borderReferences', 
    @PlaceReferences     'placeReferences', 
    @BoundaryReferences  'boundaryReferences', 
    @Coverage            'textGeography' ,
    @CountyReferences    'countyReferences'

END

RETURN @@rowcount
GO
  
GRANT EXECUTE ON [Geographic].[GetCoverage] TO [risk.service]
GO

---------------------------------------------------------------------------------------------------
-- Geographic.ListCountries 'ALL', 'GOOGLEARRAY'  
---------------------------------------------------------------------------------------------------
CREATE PROCEDURE [Geographic].[ListCountries]
(
  @CountryList            varchar(max)  = null,
  @CoverageFormat         varchar(20)   = 'NOCOVERAGE'
)
AS

DECLARE @COUNTRIES TABLE (CountryID integer)

IF @CountryList IS NULL OR @CountryList = 'ALL' OR datalength(@CountryList) = 0 BEGIN
  INSERT INTO @COUNTRIES
    SELECT CountryID FROM Geographic.Country
END ELSE BEGIN
  INSERT INTO @COUNTRIES
    SELECT cast(item as integer) FROM dbo.ListToTable(@CountryList, ',')
END

DELETE FROM @COUNTRIES WHERE CountryID = 9

IF UPPER(@coverageFormat) = 'NOCOVERAGE' BEGIN

  SELECT
    CountryID                                 'countryId',  
    editNo                                    'editNo',  
    CountryName                               'countyName', 
    ISO2Code                                  'iso2Code', 
    CountryCenterLatitude                     'centerLatitude', 
    CountryCenterLongitude                    'centerLongitude', 
    NULL                                      'outline'  
  FROM                                                                      
    Geographic.Country 
  WHERE
    CountryID IN ( SELECT CountryID FROM @COUNTRIES  ) 

END ELSE IF UPPER(@coverageFormat) = 'GEOJSON' BEGIN

  SELECT
    CountryID                                 'countryId',  
    editNo                                    'editNo',  
    CountryName                               'countyName', 
    ISO2Code                                  'iso2Code', 
    CountryCenterLatitude                     'centerLatitude', 
    CountryCenterLongitude                    'centerLongitude', 
    CountryGeoJSON                            'outline'  
  FROM                                                                      
    Geographic.Country 
  WHERE
    CountryID IN ( SELECT CountryID FROM @COUNTRIES  )  

END ELSE IF UPPER(@coverageFormat) = 'GOOGLEARRAY' BEGIN

  SELECT
    CountryID                                 'countryId',  
    editNo                                    'editNo',  
    CountryName                               'countyName', 
    ISO2Code                                  'iso2Code', 
    CountryCenterLatitude                     'centerLatitude', 
    CountryCenterLongitude                    'centerLongitude', 
    CountryGoogleArray                        'outline'   
  FROM                                                                      
    Geographic.Country 
  WHERE
    CountryID IN ( SELECT CountryID FROM @COUNTRIES  )   

END ELSE IF UPPER(@coverageFormat) = 'SVG' BEGIN

  SELECT
    CountryID                                 'countryId',  
    editNo                                    'editNo',  
    CountryName                               'countyName', 
    ISO2Code                                  'iso2Code', 
    CountryCenterLatitude                     'centerLatitude', 
    CountryCenterLongitude                    'centerLongitude', 
    CAST(CountryShape as varchar(max))        'outline'  
  FROM                                                                      
    Geographic.Country 
  WHERE
    CountryID IN ( SELECT CountryID FROM @COUNTRIES  )  

END ELSE BEGIN
 
  SELECT
    CountryID                                 'countryId',  
    editNo                                    'editNo',  
    CountryName                               'countyName', 
    ISO2Code                                  'iso2Code', 
    CountryCenterLatitude                     'centerLatitude', 
    CountryCenterLongitude                    'centerLongitude', 
    CountryShape                              'outline'  
  FROM                                                                      
    Geographic.Country 
  WHERE
    CountryID IN ( SELECT CountryID FROM @COUNTRIES  ) 

END



--      
RETURN @@rowcount
GO
  
GRANT EXECUTE ON [Geographic].[ListCountries] TO [risk.service]
GO


---------------------------------------------------------------------------------------------------
-- Geographic.ListStates '239:1,239:2,239:3,239:4,239:5'  
---------------------------------------------------------------------------------------------------
CREATE PROCEDURE [Geographic].[ListStates]
(
  @CountryList            varchar(max)  = null
)
AS

IF @CountryList IS NULL OR @CountryList = 'ALL' OR datalength(@CountryList) = 0 BEGIN
  SELECT
    CountryID                                 'countryID',  
    StateID                                   'stateID',  
    0                                         'editNo',  
    stateName                                 'stateName', 
    ISO2Code                                  'iso2Code', 
    StateCenterLatitude                       'centerLatitude', 
    StateCenterLongitude                      'centerLongitude', 
    StateOutline5K                            'outline' 
  FROM                                                                      
    Geographic.State
END ELSE BEGIN
  SELECT
    CountryID                                 'countryID',  
    StateID                                   'stateID',  
    0                                         'editNo',  
    stateName                                 'stateName', 
    ISO2Code                                  'iso2Code', 
    StateCenterLatitude                       'centerLatitude', 
    StateCenterLongitude                      'centerLongitude', 
    StateOutline5K                            'outline' 
  FROM                                                                      
    Geographic.State
  WHERE
    StateReference IN
    (
       SELECT item FROM dbo.ListToTable(@CountryList, ',')
    )
END
--      
RETURN @@rowcount
GO
  
GRANT EXECUTE ON [Geographic].[ListStates] TO [risk.service]
GO


---------------------------------------------------------------------------------------------------
-- Geographic.ListCounties '239:1:1,239:1:2,239:1:3,239:1:4,239:1:56'  
---------------------------------------------------------------------------------------------------
CREATE PROCEDURE [Geographic].[ListCounties]
(
  @CountryList            varchar(max)  = null
)
AS

IF @CountryList IS NULL OR @CountryList = 'ALL' OR datalength(@CountryList) = 0 BEGIN
  SELECT
    CountryID                                 'countryID',  
    StateID                                   'stateID',  
    CountyID                                  'countyID',  
    0                                         'editNo',  
    CountyName                                'countyName', 
    ISO2Code                                  'iso2Code', 
    CountyCenterLatitude                      'centerLatitude', 
    CountyCenterLongitude                     'centerLongitude', 
    CountyOutline1K                           'outline'  
  FROM                                                                      
    Geographic.County 
END ELSE BEGIN
  SELECT
    CountryID                                 'countryID',  
    StateID                                   'stateID',  
    CountyID                                  'countyID',  
    0                                         'editNo',  
    CountyName                                'countyName', 
    ISO2Code                                  'iso2Code', 
    CountyCenterLatitude                      'centerLatitude', 
    CountyCenterLongitude                     'centerLongitude', 
    CountyOutline1K                           'outline'  
  FROM                                                                      
    Geographic.County 
  WHERE
    CountyReference IN
    (
       SELECT item FROM dbo.ListToTable(@CountryList, ',')
    )
END
--      
RETURN @@rowcount
GO

  
GRANT EXECUTE ON [Geographic].[ListCounties] TO [risk.service]
GO



